//Card Design
.card {
  background-color: $primary-color;
  border-radius: 12px;
  display: inline-block;
}
.screen {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
