@import "./varaibles";
@import "./borderRadius";
@import "./mixins";
@import "./common/classes";
@import "./pages/index";
@import "./common/commonMixin";
@import "./Anjit/header";

@font-face {
  font-family: "OpenSans";
  src: url(../../fonts/OpenSans-Regular.ttf) format("TrueType");
  font-weight: 400;
}

html,
body {
  font-family: OpenSans;
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
}
